<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>recomme</name>
	<displayName><![CDATA[Recomme]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Here is a module for build referral program]]></description>
	<author><![CDATA[Recomme]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
